.map {
    height: 110%;
    /* scroll-snap-type: y mandatory;
    scroll-padding: 100px;
    scroll-snap-align: center; */
    /* overflow: hidden; */
}
.gm-style {
    border: 1px solid blue;
    position: relative;
    left: 0px;
    top: 100px;
    height: 250px;
}
.gm-style:after {
    content: none;
}